APP_ENV=development
LOG_LEVEL=INFO

TELEGRAM_BOT_USERNAME=top3_movie_news_bot
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=

DB_HOST=
DB_PORT=5432
DB_NAME=top3_news_db
DB_USER=top3_news_app
DB_PASSWORD=
DB_SCHEMA=top3_news